.header-image {
  width: 100vw;    /* full viewport width */
  margin: 0;       /* remove margins */
  padding: 0;      /* remove paddings */
}

.header-image img {
   width: 100%;
  height: 300px;      /* set banner height */
  object-fit: cover;  /* fills width, crops extra */
  display: block;    /* remove default inline spacing */
}